*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: rgb(40, 36, 43);
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "logo" "chat_areas" "input_messages";
    gap: 1rem;
    color:rgb(131, 124, 136);
}
.status{
    position: absolute;
    font-size: 2rem;
    right: 1rem;
}
.status.connected{
    color: rgb(83, 114, 81);
}
.status.reconnect{
    color:rgb(121, 126, 75);
    
}
.status.error{
    color:rgb(112, 60, 60);
}

.logo{
    grid-area: logo;

}
.chat-area{
    grid-area: chat_areas;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-container{
    grid-area: input_messages;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    max-width: 1500px;
    width: 100%;
}
.timestamp{
    color: rgb(22, 21, 23);
}
.messageText{
    color:rgb(91, 86, 95);
   
}
.message{
    background: rgba(255, 255, 255, 0.07);
    width: fit-content;
    padding: 0.2rem 0.9rem;
    border-radius: 4px 4px 4px 4px;
}
#sendButton{
    background-color: rgb(40, 36, 43);
    outline: none;
    border: none;
}
#sendButton:not(:disabled){
    box-shadow: 0px 0px 5px 0 ;
    color: rgb(143, 132, 153);
}
#messageInput{
    background-color: rgb(40, 36, 43, 0.2);
    outline: none;
    border: none;
    color: rgba(243, 243, 217, 0.3);
    box-shadow: 0 0 5px 0;
    margin-right: 0.5rem;

}
#messageInput::placeholder{
    color:rgb(143, 132, 153,)
    
}