*{
    margin: 0;
    box-sizing: 0;
    padding: 0;
}
body{
    background-color: rgb(6, 10, 11);
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "logo" "chat_areas" "input_messages";
    gap: 1rem;
    color:rgb(115, 0, 255);
}
.status{
    position: absolute;
    font-size: 2rem;
    right: 1rem;
}
.status.connected{
    color: rgb(198, 179, 203);
}
.status.reconnect{
    color:rgb(153, 0, 255);
    
}
.status.error{
    color:rgb(47, 18, 59);
}

.logo{
    grid-area: logo;

}
.chat-area{
    grid-area: chat_areas;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.input-container{
    grid-area: input_messages;
}